<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csbr.cloud.flink.api.mybatis.transport.mapper.TrMfwarehouseMapper">
    <!-- 分页返回满足查询条件的仓库资料信息 -->
  <select id="searchTrMfwarehouses" parameterType="com.csbr.cloud.flink.api.mybatis.transport.mapper.so.TrMfwarehouseSO" resultType="com.csbr.cloud.flink.api.mybatis.transport.entity.TrMfwarehouse">
    <![CDATA[
      SELECT
        `GUID` AS `guid`,
        `TenantGUID` AS `tenantGuid`,
        `CorpGUID` AS `corpGuid`,
        `CorpName` AS `corpName`,
        `WarehouseCorpGUID` AS `warehouseCorpGuid`,
        `WarehouseCorpName` AS `warehouseCorpName`,
        `LogCenterGUID` AS `logCenterGuid`,
        `LogCenterName` AS `logCenterName`,
        `ChineseName` AS `chineseName`,
        `HelpCode` AS `helpCode`,
        `Abbreviation` AS `abbreviation`,
        `LogAreaGUID` AS `logAreaGuid`,
        `LogAreaName` AS `logAreaName`,
        `BizState` AS `bizState`,
        `Province` AS `province`,
        `City` AS `city`,
        `District` AS `district`,
        `Address` AS `address`,
        `Mananger` AS `mananger`,
        `SHInfor` AS `sHInfor`,
        `ALInfo` AS `aLInfo`,
        `Einfo` AS `einfo`,
        `TotalAreaAge` AS `totalAreaAge`,
        `WarehouseNature` AS `warehouseNature`,
        `StorageType` AS `storageType`,
        `ISGSP` AS `isgsp`,
        `ISGMP` AS `isgmp`,
        `ISGAP` AS `isgap`,
        `Contacts` AS `contacts`,
        `ContactTel` AS `contactTel`,
        `Mailaddr` AS `mailaddr`,
        `Varchar1` AS `varchar1`,
        `Varchar2` AS `varchar2`,
        `Varchar3` AS `varchar3`,
        `Varchar4` AS `varchar4`,
        `Num1` AS `num1`,
        `Num2` AS `num2`,
        `Num3` AS `num3`,
        `Date1` AS `date1`,
        `Date2` AS `date2`,
        `Date3` AS `date3`,
        `CreateUserId` AS `createUserId`,
        `CreateUserName` AS `createUserName`,
        `UpdateUserId` AS `updateUserId`,
        `UpdateUserName` AS `updateUserName`,
        `DataVersion` AS `dataVersion`,
        `IsDeleted` AS `isDeleted`,
        `CityAreaName` AS `cityAreaName`,
        `CREATE_TIME` AS `createTime`,
        `UPDATE_TIME` AS `updateTime`,
        `OutBoundAbility` AS `outBoundAbility`,
        `InBoundAblility` AS `inBoundAblility`,
        `Venue` AS `venue`,
        `TotalVolume` AS `totalVolume`,
        `PKGS` AS `pkgs`,
        `CapacityUnit` AS `capacityUnit`,
        `Capacity` AS `capacity`,
        `AuthorizationState` AS `authorizationState`,
        `DataSources` AS `dataSources`,
        `SourceWarehouseGuid` AS `sourceWarehouseGuid`
      FROM `mfwarehouse`
    ]]>
    <include refid="searchConditions" />
    <![CDATA[
      ORDER BY `GUID` DESC
    ]]>
  </select>

  <!-- 查询条件 -->
  <sql id="searchConditions">
    <where>
    </where>
  </sql>
</mapper>