<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csbr.cloud.flink.api.mybatis.hospital.mapper.TrsupplierpoMapper">
    <!-- 分页返回满足查询条件的信息 -->
  <select id="searchTrsupplierpos" parameterType="com.csbr.cloud.flink.api.mybatis.hospital.mapper.so.TrsupplierpoSO" resultType="com.csbr.cloud.flink.api.mybatis.hospital.entity.Trsupplierpo">
    <![CDATA[
      SELECT
        `GUID` AS `guid`,
        `BillNo` AS `billNo`,
        `MedPlanGUID` AS `medPlanGuid`,
        `MedPlanBillNo` AS `medPlanBillNo`,
        `DistrbPoGUID` AS `distrbPoGuid`,
        `DistrbPoBillNo` AS `distrbPoBillNo`,
        `BillState` AS `billState`,
        `BillType` AS `billType`,
        `SupplierGUID` AS `supplierGuid`,
        `SupplierName` AS `supplierName`,
        `BuyerGUID` AS `buyerGuid`,
        `BuyerName` AS `buyerName`,
        `DistrbGUID` AS `distrbGuid`,
        `DistrbName` AS `distrbName`,
        `MedGuid` AS `medGuid`,
        `MedName` AS `medName`,
        `MedDeptGuid` AS `medDeptGuid`,
        `MedDeptName` AS `medDeptName`,
        `MedStoreGuid` AS `medStoreGuid`,
        `MedStoreName` AS `medStoreName`,
        `FirstFlag` AS `firstFlag`,
        `BillDate` AS `billDate`,
        `PreDeliverDate` AS `preDeliverDate`,
        `Province` AS `province`,
        `City` AS `city`,
        `District` AS `district`,
        `Address` AS `address`,
        `PlanEndDate` AS `planEndDate`,
        `CountSum` AS `countSum`,
        `DetailSum` AS `detailSum`,
        `OperaterGUID` AS `operaterGuid`,
        `OperaterName` AS `operaterName`,
        `InputDate` AS `inputDate`,
        `Memo` AS `memo`,
        `Varchar1` AS `varchar1`,
        `Varchar2` AS `varchar2`,
        `Varchar3` AS `varchar3`,
        `Num1` AS `num1`,
        `Num2` AS `num2`,
        `Num3` AS `num3`,
        `Date1` AS `date1`,
        `Date2` AS `date2`,
        `Date3` AS `date3`,
        `create_time` AS `createTime`,
        `update_time` AS `updateTime`,
        `supplement` AS `supplement`,
        `AcceptanceDate` AS `acceptanceDate`,
        `SettleMethod` AS `settleMethod`
      FROM `trsupplierpo`
    ]]>
    <include refid="searchConditions" />
    <![CDATA[
      ORDER BY `GUID` DESC
    ]]>
  </select>

  <!-- 查询条件 -->
  <sql id="searchConditions">
    <where>
      <if test="billNo!=null and billNo!=''">
        <![CDATA[ and `BillNo`=#{billNo} ]]>
      </if>
    </where>
  </sql>
</mapper>