<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csbr.cloud.flink.api.mybatis.transport.mapper.TrTrtplpomainMapper">
    <!-- 分页返回满足查询条件的物流订单主信息 -->
  <select id="searchTrTrtplpomains" parameterType="com.csbr.cloud.flink.api.mybatis.transport.mapper.so.TrTrtplpomainSO" resultType="com.csbr.cloud.flink.api.mybatis.transport.entity.TrTrtplpomain">
    <![CDATA[
      SELECT
        `GUID` AS `guid`,
        `TenantGuid` AS `tenantGuid`,
        `CorpGuid` AS `corpGuid`,
        `TPLPoNo` AS `tPLPoNo`,
        `TPLPoType` AS `tPLPoType`,
        `State` AS `state`,
        `CargoOwnerGUID` AS `cargoOwnerGuid`,
        `CargoOwnerName` AS `cargoOwnerName`,
        `DeliverGUID` AS `deliverGuid`,
        `DeliverName` AS `deliverName`,
        `TPWareHouseCorpGuid` AS `tPWareHouseCorpGuid`,
        `TPWareHouseCorpName` AS `tPWareHouseCorpName`,
        `LogCenterGuid` AS `logCenterGuid`,
        `LogCenterName` AS `logCenterName`,
        `WarehouseGuid` AS `warehouseGuid`,
        `WarehouseName` AS `warehouseName`,
        `DepartureProvince` AS `departureProvince`,
        `DepartureCity` AS `departureCity`,
        `DepartureDistrict` AS `departureDistrict`,
        `DepartureAddress` AS `departureAddress`,
        `PickContacts` AS `pickContacts`,
        `PickContactsTel` AS `pickContactsTel`,
        `PickTime` AS `pickTime`,
        `ArrivalProvince` AS `arrivalProvince`,
        `ArrivalCity` AS `arrivalCity`,
        `ArrivalDistrict` AS `arrivalDistrict`,
        `ArrivalAddress` AS `arrivalAddress`,
        `TransitProvince` AS `transitProvince`,
        `TransitCity` AS `transitCity`,
        `TransitDistrict` AS `transitDistrict`,
        `TransitVenue` AS `transitVenue`,
        `SendContacts` AS `sendContacts`,
        `SendContactsTel` AS `sendContactsTel`,
        `DepartureDate` AS `departureDate`,
        `DepartureTime` AS `departureTime`,
        `ArrivalArrivedDate` AS `arrivalArrivedDate`,
        `ArrivalArrivedTime` AS `arrivalArrivedTime`,
        `LastArrivalArrivedDate` AS `lastArrivalArrivedDate`,
        `ArrivalTerm` AS `arrivalTerm`,
        `IsCollection` AS `isCollection`,
        `CollectionTime` AS `collectionTime`,
        `CollectionArrivalCorp` AS `collectionArrivalCorp`,
        `OrderRequirement` AS `orderRequirement`,
        `LoadRequirement` AS `loadRequirement`,
        `EquipRequirement` AS `equipRequirement`,
        `IsRecycle` AS `isRecycle`,
        `RecycleKind` AS `recycleKind`,
        `VehicleKind` AS `vehicleKind`,
        `OrdersPKGS` AS `ordersPKGS`,
        `OrdersWeight` AS `ordersWeight`,
        `OrdersVolumn` AS `ordersVolumn`,
        `IssuedVehicleType` AS `issuedVehicleType`,
        `IsCCBB` AS `isCCBB`,
        `BillDate` AS `billDate`,
        `BBillNum` AS `bBillNum`,
        `Consignee` AS `consignee`,
        `ConsignTime` AS `consignTime`,
        `Receiver` AS `receiver`,
        `ReceiveTime` AS `receiveTime`,
        `InputDate` AS `inputDate`,
        `CompleteTime` AS `completeTime`,
        `BackBillFlag` AS `backBillFlag`,
        `BackBillTime` AS `backBillTime`,
        `BackBillName` AS `backBillName`,
        `ReturnBillFlag` AS `returnBillFlag`,
        `RetrunBillTime` AS `retrunBillTime`,
        `RetrunInfo` AS `retrunInfo`,
        `Memo` AS `memo`,
        `DistributingBinGUID` AS `distributingBinGuid`,
        `DistributingBinName` AS `distributingBinName`,
        `DeclaredAmount` AS `declaredAmount`,
        `RecCorpGuid` AS `recCorpGuid`,
        `Varchar1` AS `varchar1`,
        `Varchar2` AS `varchar2`,
        `Varchar3` AS `varchar3`,
        `Num1` AS `num1`,
        `Num2` AS `num2`,
        `Num3` AS `num3`,
        `Date1` AS `date1`,
        `Date2` AS `date2`,
        `Date3` AS `date3`,
        `CreateUserId` AS `createUserId`,
        `CreateUserName` AS `createUserName`,
        `ModifyUserId` AS `modifyUserId`,
        `ModifyUserName` AS `modifyUserName`,
        `DataVersion` AS `dataVersion`,
        `IsDeleted` AS `isDeleted`,
        `CREATE_TIME` AS `createTime`,
        `UPDATE_TIME` AS `updateTime`,
        `DepartureVenue` AS `departureVenue`,
        `ArrivalVenue` AS `arrivalVenue`,
        `StatementFlag` AS `statementFlag`,
        `UpdateUserID` AS `updateUserID`,
        `UpdateUserName` AS `updateUserName`,
        `RouteGUID` AS `routeGuid`,
        `RouteName` AS `routeName`,
        `BillTotalNum` AS `billTotalNum`,
        `AddressNum` AS `addressNum`,
        `CustomerNum` AS `customerNum`,
        `GoodsSpecNum` AS `goodsSpecNum`,
        `CarrierAmount` AS `carrierAmount`,
        `RobFlag` AS `robFlag`,
        `RejectCarriers` AS `rejectCarriers`,
        `DeliveryWay` AS `deliveryWay`,
        `TransportWay` AS `transportWay`,
        `MainDeliveryNo` AS `mainDeliveryNo`,
        `FlightNo` AS `flightNo`,
        `FlightInfoGuid` AS `flightInfoGuid`,
        `PropertyCtrlFlag` AS `propertyCtrlFlag`,
        `PCtrlUpdateName` AS `pCtrlUpdateName`,
        `PCtrlUpdateTime` AS `pCtrlUpdateTime`,
        `OriginalSign` AS `originalSign`,
        `ThermometerCode` AS `thermometerCode`,
        `PlanBackBillTime` AS `planBackBillTime`,
        `CollectionFlag` AS `collectionFlag`,
        `LogAreaGUID` AS `logAreaGuid`,
        `PlanTransAreaGUID` AS `planTransAreaGuid`,
        `TransAreaName` AS `transAreaName`,
        `ResultTransAreaGUID` AS `resultTransAreaGuid`,
        `CombinLogInfo` AS `combinLogInfo`,
        `DeliveredToDoor` AS `deliveredToDoor`,
        `CustomField` AS `customField`,
        `SpecialCarFlag` AS `specialCarFlag`,
        `ValuationMethod` AS `valuationMethod`,
        `IsDistributingBin` AS `isDistributingBin`,
        `PayMode` AS `payMode`,
        `CollectionAmount` AS `collectionAmount`,
        `TimeLimit` AS `timeLimit`,
        `Shape` AS `shape`,
        `SettleType` AS `settleType`,
        `Mileage` AS `mileage`,
        `ShippingAmount` AS `shippingAmount`,
        `SplitOrderFlag` AS `splitOrderFlag`,
        `MainOrderGuid` AS `mainOrderGuid`,
        `UrgentFlag` AS `urgentFlag`,
        `TracingNos` AS `tracingNos`,
        `LogNWGuid` AS `logNWGuid`,
        `LogNWName` AS `logNWName`,
        `LogisticsServiceType` AS `logisticsServiceType`,
        `ColdEquipmentCategory` AS `coldEquipmentCategory`,
        `ReceivableCarrierAmount` AS `receivableCarrierAmount`,
        `Discount` AS `discount`,
        `IsRetrun` AS `isRetrun`
      FROM `trtplpomain`
    ]]>
    <include refid="searchConditions" />
    <![CDATA[
      ORDER BY `GUID` DESC
    ]]>
  </select>

  <!-- 查询条件 -->
  <sql id="searchConditions">
    <where>
    </where>
  </sql>
</mapper>