<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csbr.qingcloud.user.scm.mybatis.mapper.MfInsureMapper">
        <!-- 分页返回满足查询条件的保险资料信息 -->
    <select id="mapperPageMfInsures" resultType="com.csbr.qingcloud.user.scm.mybatis.entity.MfInsure">
      <![CDATA[
        SELECT
          `city` AS `city`,
          `code` AS `code`,
          `create_time` AS `createTime`,
          `create_user_id` AS `createUserId`,
          `create_user_name` AS `createUserName`,
          `district` AS `district`,
          `guid` AS `guid`,
          `insure_type` AS `insureType`,
          `is_deleted` AS `isDeleted`,
          `merchant_guid` AS `merchantGuid`,
          `province` AS `province`,
          `update_time` AS `updateTime`,
          `update_user_id` AS `updateUserId`,
          `update_user_name` AS `updateUserName`,
          `venue` AS `venue`
        FROM `mf_insure`
      ]]>
      <include refid="searchConditions" />
      <![CDATA[
        ORDER BY `guid` DESC
      ]]>
    </select>
    
      <!-- 查询条件 -->
    <sql id="searchConditions">
      <where>
        <if test="so.merchantGuid != null and so.merchantGuid != ''">
          <![CDATA[ and `merchant_guid`=#{so.merchantGuid} ]]>
        </if>
      </where>
    </sql>
    </mapper>