<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csbr.qingcloud.user.scm.mybatis.mapper.MfOrganisationMapper">
        <!-- 分页返回满足查询条件的组织架构信息信息 -->
    <select id="mapperPageMfOrganisations" resultType="com.csbr.qingcloud.user.scm.mybatis.entity.MfOrganisation">
      <![CDATA[
        SELECT
          `address` AS `address`,
          `biz_state` AS `bizState`,
          `city` AS `city`,
          `contact_tel` AS `contactTel`,
          `create_time` AS `createTime`,
          `create_user_id` AS `createUserId`,
          `create_user_name` AS `createUserName`,
          `district` AS `district`,
          `guid` AS `guid`,
          `is_deleted` AS `isDeleted`,
          `organisation_code` AS `organisationCode`,
          `organisation_name` AS `organisationName`,
          `province` AS `province`,
          `tenant_guid` AS `tenantGuid`,
          `update_time` AS `updateTime`,
          `update_user_id` AS `updateUserId`,
          `update_user_name` AS `updateUserName`,
          `venue` AS `venue`,
          `parent_guid` AS `parent_guid`,
          `order_num` AS `order_num`
        FROM `mf_organisation`
      ]]>
      <include refid="searchConditions" />
      <![CDATA[
        ORDER BY `guid` DESC
      ]]>
    </select>
    
      <!-- 查询条件 -->
    <sql id="searchConditions">
      <where>
        <if test="so.tenantGuid != null and so.tenantGuid != ''">
          <![CDATA[ and `tenant_guid`=#{so.tenantGuid} ]]>
        </if>
      </where>
    </sql>
    </mapper>